:root{
  --color-principal: #FF9F1C;
  --swiper-pagination-color: #FF9F1C;
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;
}

a{
  color: aliceblue;
}

.textoMenu{
  color: aliceblue;
}

.fin{
  margin: 10rem 0 20rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fin p{
  margin-top: 1rem;
  background-color: var(--color-principal);
  color: aliceblue;
  font-size: 2rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 1rem;
}

.carrusel{
  width: 90%;
  margin: 2rem auto 2rem auto;
}

.pagination{
  display: flex;
  justify-content: center;
}
@media (max-width: 767px){

  /* -------------------------------------------------- Navbar 767px -------------------------------------------------- */
header{
  background-color: var(--color-principal);
  color: aliceblue;
  font-size: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo{
  width: 8rem;
}

.nav{
  opacity: 0;
  visibility: hidden;
  background-color: var(--color-principal);
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  padding-top: 60px;
  font-size: 1.5rem;
  border-radius: 0 0 0 1rem;
}

.nav.visible {
  opacity: 1;
  visibility: visible;
  width: 160px;
  padding: 60px 16px 16px 0;
}

.nav ul{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2rem;
}

.botonAbrir,
.botonCerrar{
  display: block;
  background-color: transparent;
  border: none;
  color: aliceblue;
  font-size: 2rem;
}

.carritoIcon{
  color: aliceblue;
  padding-right: 1rem;
}

.carritoIcon:hover{
  background-color: aliceblue;
  color: var(--color-principal);
  border-radius: 1rem;
  padding: 0.3rem 2rem 0.3rem 1rem;
}

.numerito{
  color: var(--color-principal);
  background-color: aliceblue;
  border-radius: 1rem;
  font-size: large;
  position: absolute;
  padding: 0 0.2rem 0 0.2rem;
}

.promoA{
  width: 100%;
}

.contenedorMedio{
  margin-top: 4rem;
  padding: 0.5rem;
  background-color: rgb(230, 243, 255);
  color: var(--color-principal);
  border: #FF9F1C solid 0.1rem;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}

.contenedorMedio P{
  font-size: 0.5rem;
}

.contenedoresMedio{
  gap: 1rem;
  display: flex;
  align-items: center;
}

.contenedoresMedio i{
font-size: 1.5rem;
}

.contenedorCategorias{
  display: flex;
  flex-direction: column;
}

.contenedorCategorias .botonCategorias{
  color: aliceblue;
  display: flex;
  align-items: center;
}

.contenedorCategorias button{
background-color: transparent;
border: none;
color: var(--color-principal);
font-size: 2rem;
}

.contenedorCategorias .flechaCat{
  gap: 0.5rem;
  font-size: 1.5rem;
  display: flex;
  color: aliceblue;
}

.categorias{
  z-index: 2;
  background-color: rgb(230, 243, 255, 0.9);
  border-radius: 0 0 1rem 1rem;
  width: 11.5rem;
  margin: -0.2rem 10rem 0 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 1rem 0 1rem 0.5rem;
  gap: 1rem;
}

.categorias li{
  color: var(--color-principal);
  width: 100%;
}

.opcionesCategoria{
  display: flex;
  flex-direction: column;
  padding-right: 4rem;
}

.opcionesCategoria a{
  color: var(--color-principal);
}

.oculto{
  position: absolute;
  visibility: hidden;
  opacity: 0;
}

.mostrar{
  visibility: visible;
  opacity: 1;
}

/* -------------------------------------------------- ItemListContainer 767px -------------------------------------------------- */

.titulo{
  margin: 4rem 0 1rem 2rem;
  font-size: 2rem;
}

.contenedor{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carts{
  border: var(--color-principal) solid 0.2rem;
  border-radius: 1rem;
  width: 90%;
  margin-bottom: 2rem;
  background-color: var(--color-principal);
}

.carts img{
  border-radius: 1rem;
  width: 100%;
  height: 337px;
}

.carts .footerCarts{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 0rem 0 1rem 1rem;
  color: aliceblue;
}

.carts .verMas{
  color: aliceblue;
  background-color: transparent;
  border-radius: 1rem;
  border: aliceblue solid 0.2rem;
  padding: 0 2rem 0 2rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* -------------------------------------------------- ItemDetail 767px -------------------------------------------------- */

.contenedorItemDetail{
  margin: 1rem 0 1rem 0;
  display: flex;
  justify-content: center;
}

.itemDetail{
  display: flex;
  flex-direction: column;
  max-width: 90%;
  border-radius: 1rem;
  background-color: var(--color-principal);
  border: var(--color-principal) solid 0.3rem;
}

.itemDetail img{
  border-radius: 1rem;
  height: 30rem;
  max-width: 100%;
}

.itemDetail h3{
  font-size: 3rem;
} 

.pesoDetail{
  border: aliceblue solid 0.1rem;
  padding: 0.2rem;
}

.itemDetailFooter{
  gap: 1rem;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  color: aliceblue;
  padding: 0.5rem;
}

.contenedorTextoDetail p{
  width: 70%;
  padding-top: 1rem;
}

.textoDetail{
  margin-bottom: 1rem;
}

.precioCantidad{
  font-size: 2rem;
  display: flex;
  justify-content: space-evenly;
}

.precio{
  font-size: 2rem;
}

.cantidad{
  margin: 0;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  gap: 0.8rem;
}

.cantidad button{
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  background-color: transparent;
  border-radius: 1rem;
  border: aliceblue solid 0.2rem;
  color: aliceblue;
}

.cantidad button:active{
  transition: 0.09s;
  background-color: aliceblue;
  color: var(--color-principal);
}

/* -------------------------------------------------- Formulario 767px -------------------------------------------------- */

.contenedorForm{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedorForm h1{
  margin: 1rem 0 1rem 0;
}

.contenedorForm form{
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input{
  width: 100%;
  margin-bottom: 1rem;
  border: var(--color-principal) solid 0.3rem;
  border-radius: 1rem;
  padding: 0.5rem;
}

form button{
  background-color: transparent;
  border: var(--color-principal) solid 0.3rem;
  color: var(--color-principal);
  border-radius: 1rem;
  padding: 1rem 2rem 1rem 2rem;
}

/* -------------------------------------------------- Nosotros 767px -------------------------------------------------- */

.contenedorNosotros{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedorNosotros img{
  display: none;
}

.textoNosotros{
  background-color: var(--color-principal);
  color: aliceblue;
  border-radius: 1rem;
  padding: 1rem;
  margin-top: 1rem;
  width: 85%;
}

.textoNosotros h1{
  font-size: 2.7rem;
}

.textoNosotros p{
  font-size: 1.2rem;
  margin: 1rem 0.3rem 0.3rem 0.3rem;
}

/* -------------------------------------------------- Footer 767px -------------------------------------------------- */

.footer{
  margin-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  background-color: var(--color-principal);
  color: aliceblue;
  align-items: center;
}

.footer h3{
  margin-top: 2rem;
}

.footer a{
  color: aliceblue;
}

.footer ul{
  width: 90%;
}

.footer li{
  padding-top: 1rem;
}

.logoFooter{
  width: 90%;
}

/* -------------------------------------------------- Carrito 767px -------------------------------------------------- */

.productosCarrito{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productosCarrito h1{
  margin: 1rem 0 1rem 0;
}

.productoCarrito{
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  width: 90%;
  border-radius: 1rem;
  border: var(--color-principal) solid 0.3rem;
  background-color: var(--color-principal);
}

.productoCarrito img{
  border-radius: 1rem;
  width: 100%;
}

.footerProductoCarrito{
  background-color: var(--color-principal);
  border-radius: 0 0 1rem 1rem;
  padding: 1rem 0 0 1rem;
}

.footerProductoCarrito p{
  margin-top: 0.5rem;
}

.total{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  padding-top: 1rem;
}

.botonesTotal{
  background-color: transparent;
  border-radius: 1rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: var(--color-principal) solid 0.3rem;
  color: var(--color-principal);
  margin: 1rem 0.5rem 0 0.5rem;
}

.contenedorMarcas{
  margin-top: 4rem;
  display: flex;
  justify-content: center;
}

.marcas{
  background-color: var(--color-principal);
}

.swiper-slide a{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.8rem;
}

.marcas img{
  object-fit: contain;
  width: 64px;
  height: 64px;
  margin: 1rem 0 1rem 0;
  background-color: aliceblue;
  border-radius: 100%;
  width: 3rem;
  height: 3rem;
}



.checkout{
  display: flex;
  flex-direction: column;
}

.contenedorFormComprar{
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.contenedorFormComprar h1{
  margin: 1rem 0 1rem 0;
}

.contenedorFormComprar form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contenedorFormComprar input{
  width: 90%;
}

.productosComprar{
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  width: 90%;
}

.productoComprar{
  margin: auto;
  margin-bottom: 1rem;
  display: flex;
  border-radius: 1rem;
  border: var(--color-principal) solid 0.3rem;
  background-color: var(--color-principal);
  height: 20%;
}

.productoComprar img{
  border-radius: 1rem;
  width: 20%;
}

.footerProductoComprar{
  background-color: var(--color-principal);
  border-radius: 0 0 1rem 1rem;
  padding: 1rem 0 0 1rem;
  color: aliceblue;
}

.footerProductoComprar h3{
  font-size: 0.8rem;
}

.footerProductoComprar p{
  font-size: 0.6rem;
  margin-top: 0.5rem;
}

.total{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  padding-top: 1rem;
  margin: auto;
}

.carritoVacio{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: auto;
  font-size: 1rem;
  width: 90%;
  margin: auto;
}

.botonInicio{
  font-size: 2.5rem;
  margin-top: 1rem;
  width: 12rem;
  height: 5rem;
  background-color: var(--color-principal);
  border-radius: 1rem;
  border: none;
  transition: 0.5s;
}

.fin{
  margin: 10rem 0 20rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.fin p{
  width: 80%;
  margin-top: 1rem;
  background-color: var(--color-principal);
  color: aliceblue;
  font-size: 1.5rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 1rem;
}
} 

/* ---------------------------------------------------------------------------------------------------- */

@media (min-width: 1600px) {
  header{
      background-color: var(--color-principal);
      color: aliceblue;
      font-size: 2rem;
      padding: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  header .logo{
      width: 8rem;
  }

  .nav ul{
      display: flex;
      align-items: center;
      gap: 2rem;
      cursor: pointer;
  }

  .botonAbrir,
  .botonCerrar{
      display: none;
  }

  .carritoIcon{
    color: aliceblue;
    padding-right: 1rem;
  }

  .carritoIcon:hover{
    background-color: aliceblue;
    color: var(--color-principal);
    border-radius: 1rem;
    padding: 0.3rem 2rem 0.3rem 1rem;
  }

  .numerito{
    color: var(--color-principal);
    background-color: aliceblue;
    border-radius: 1rem;
    font-size: large;
    position: absolute;
    padding: 0 0.2rem 0 0.2rem;
  }

  .promoA{
    display: flex;
    justify-content: center;
  }

  .contenedorMedio{
    padding: 1rem;
    margin: 8rem 0 1rem 0;
    background-color: rgb(230, 243, 255);
    color: var(--color-principal);
    border: #FF9F1C solid 0.1rem;
    font-size: 1.3rem;
    display: flex;
    justify-content: space-evenly;
  }

  .contenedorMedio P{
    font-size: 1rem;
  }

  .contenedoresMedio{
    gap: 1rem;
    display: flex;
    align-items: center;
    width: 20%;
  }

  .contenedoresMedio i{
  font-size: 4rem;
  }
  /* -------------------------------------------------- ItemListContainer -------------------------------------------------- */

.titulo{
margin: 8rem 0 1rem 3rem;
font-size: 2.5rem;
}

.contenedor{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.carts{
  border: var(--color-principal) solid 0.2rem;
  border-radius: 1rem;
  width: 337px;
  height: 500px;
  margin: 0 2rem 2rem 0;
  background-color: var(--color-principal);
}

.carts img{
  border-radius: 1rem;
  width: 100%;
  height: 337px;
}

.carts .footerCarts{
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 0rem 0 1rem 1rem;
  color: aliceblue;
}

.carts .verMas{
  color: aliceblue;
  background-color: transparent;
  border-radius: 1rem;
  border: aliceblue solid 0.2rem;
  padding: 0 2rem 0 2rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* -------------------------------------------------- ItemDetail -------------------------------------------------- */

.contenedorItemDetail{
  display: flex;
  justify-content: center;
}

.itemDetail{
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  max-width: 60%;
  border-radius: 1rem;
  border: var(--color-principal) solid 0.3rem;
  background-color: var(--color-principal);
}

.itemDetail h3{
  font-size: 4rem;
}

.pesoDetail{
  border: aliceblue solid 0.1rem;
  padding: 0.2rem;
}

.itemDetail img{
  border-radius: 1rem;
  height: 30rem;
  max-width: 100%;
}

.itemDetailFooter{
  gap: 1rem;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  color: aliceblue;
  padding: 0.5rem;
}

.contenedorTextoDetail p{
  width: 70%;
  padding-top: 2rem;
}

.precio{
  font-size: 3rem;
}

.cantidad{
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
}

.cantidad button{ 
  padding: 0 0.3rem 0 0.3rem;
  background-color: transparent;
  border-radius: 1rem;
  border: aliceblue solid 0.2rem;
  color: aliceblue;
  font-size: 2rem;
}

.cantidad button:active{
  transition: 0.09s;
  background-color: aliceblue;
  color: var(--color-principal);
}

.agregarAlCarrito{
  background-color: transparent;
  color: aliceblue;
  border-radius: 1rem;
  border: aliceblue solid 0.3rem;
  width: 100%;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

/* -------------------------------------------------- Formulario 1600px -------------------------------------------------- */

.contenedorForm{
  display: flex;
  flex-direction: column;
  margin: 2rem 8rem;
}

.contenedorForm h1{
  font-size: 3rem;
  margin: 1rem 0 1rem 0;
}

.contenedorForm form{
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

form input{
  width: 40%;
  height: 2rem;
  margin-bottom: 1rem;
  border: var(--color-principal) solid 0.3rem;
  border-radius: 1rem;
  padding: 0.5rem;
}

form button{
  background-color: transparent;
  border: var(--color-principal) solid 0.3rem;
  border-radius: 1rem;
  padding: 1rem 2rem 1rem 2rem;
}

/* -------------------------------------------------- Nosotros 1600px -------------------------------------------------- */

.contenedorNosotros{
  display: flex;
}

.contenedorNosotros img{
  width: 30%;
}

.textoNosotros{
  background-color: var(--color-principal);
  color: aliceblue;
  border-radius: 1rem;
  margin: 2rem 3rem;
  padding: 1rem;
  width: 70%;
}

.textoNosotros h1{
  font-size: 3rem;
}

.textoNosotros p{
  font-size: 1.2rem;
  margin: 1rem;
}

/* -------------------------------------------------- Footer -------------------------------------------------- */

.footer{
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--color-principal);
  color: aliceblue;
}

.footer a{
  color: aliceblue;
}

.footer li{
  padding-top: 1rem;
}

.logoFooter{
  width: 12rem;
}

/* -------------------------------------------------- Carrito -------------------------------------------------- */

.productosCarrito h1{
  font-size: 3rem;
  margin: 1rem 0 1rem 1rem;
}

.productoCarrito{
  margin: auto;
  margin-bottom: 1rem;
  display: flex;
  width: 95%;
  border-radius: 1rem;
  border: var(--color-principal) solid 0.3rem;
  background-color: var(--color-principal);
}

.productoCarrito img{
  border-radius: 1rem;
  width: 10%;
}

.footerProductoCarrito{
  background-color: var(--color-principal);
  border-radius: 0 0 1rem 1rem;
  padding: 1rem 0 0 1rem;
  color: aliceblue;
}

.footerProductoCarrito h3{
  font-size: 2rem;
}

.footerProductoCarrito p{
  font-size: 1rem;
  margin-top: 0.5rem;
}

.total{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  padding-top: 1rem;
  margin: auto;
}

.botonesTotal{
  background-color: transparent;
  border-radius: 1rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: var(--color-principal) solid 0.3rem;
  color: var(--color-principal);
  margin: 1rem 0.5rem 0 0.5rem;
}

.contenedorCategorias{
  font-size: 2rem;
  background-color: var(--color-principal);
  border-radius: 0 1rem 1rem 0;
  display: flex;
  flex-direction: column;
}

.contenedorCategorias li{
  border-radius: 1rem;
  padding: 0.3rem;
  color: var(--color-principal)
}

.contenedorCategorias .botonCategorias{
  color: aliceblue;
}

.contenedorCategorias button{
background-color: transparent;
border: none;
color: var(--color-principal);
font-size: 2rem;
}

.contenedorCategorias .flechaCat{
  color: aliceblue;
}

.categorias{
  background-color: rgb(230, 243, 255, 0.9);
  border-radius: 0 0 1rem 1rem;
  width: 14.3rem;
  margin-top: 2.5rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  gap: 1rem;
}

.categorias li{
  padding-left: 2rem;
  width: 100%;
}

.opcionesCategoria{
  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;
  border-radius: 1rem;
  gap: 1rem;
}

.opcionesCategoria a{
  color: var(--color-principal);
}

.oculto{
  position: absolute;
  visibility: hidden;
  opacity: 0;
}

.mostrar{
  visibility: visible;
  opacity: 1;
}

.contenedorMarcas{
  margin-top: 8rem;
  display: flex;
  justify-content: center;
}

.marcas{
  background-color: var(--color-principal);
}

.swiper-slide a{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.8rem;
}

.marcas img{
  object-fit: contain;
  width: 128px;
  height: 128px;
  margin: 1rem 0 1rem 0;
  background-color: aliceblue;
  border-radius: 100%;
  width: 8rem;
}


.checkout{
  display: flex;
  justify-content: space-around;
}

.contenedorFormComprar{
  width: 40%;
  display: flex;
  flex-direction: column;
}

.contenedorFormComprar h1{
  margin: 1rem 0 1rem 0;
}

.contenedorFormComprar form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contenedorFormComprar input{
  width: 100%;
}

.productosComprar{
  margin-top: 1rem;
  width: 30%;
}

.productoComprar{
  margin: auto;
  margin-bottom: 1rem;
  display: flex;
  border-radius: 1rem;
  border: var(--color-principal) solid 0.3rem;
  background-color: var(--color-principal);
  height: 20%;
}

.productoComprar img{
  border-radius: 1rem;
  width: 20%;
}

.footerProductoComprar{
  background-color: var(--color-principal);
  border-radius: 0 0 1rem 1rem;
  padding: 1rem 0 0 1rem;
  color: aliceblue;
}

.footerProductoComprar h3{
  font-size: 0.8rem;
}

.footerProductoComprar p{
  font-size: 0.6rem;
  margin-top: 0.5rem;
}

.total{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  padding-top: 1rem;
  margin: auto;
}

.carritoVacio{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
}

.botonInicio{
  font-size: 3rem;
  margin-top: 1rem;
  width: 12rem;
  height: 5rem;
  background-color: var(--color-principal);
  border-radius: 1rem;
  border: none;
  transition: 0.5s;
}

.botonInicio:hover{
  font-size: 3.3rem;
}
} 

/* ---------------------------------------------------------------------------------------------------- */